.slidezy-wrapper {
    width: 100%;
    overflow: hidden;
}
.slidezy-content {
    position: relative;
}
.slidezy-track {
    display: flex;
}

.slidezy-slide {
    flex: 0 0 auto;
}

.slidezy-pre,
.slidezy-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    outline: none;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}
.slidezy-pre {
    left: 10px;
}
.slidezy-next {
    right: 10px
}
.dots-wrapper{
    display: flex;
    gap: 5px;
    margin: 10px;
}
.slidezy-dot {
    padding: 4px 14px;
    transform: scale(1);
    transition: transform 0.3s ease;
    border-radius: 5px;
    border: 1px solid gray;
}
.slidezy-dot.active {
    transform: scale(1.2);
    background: gray
}