










.slidezy-wrapper {
    width: 100%;
    overflow: hidden;
}
.slidezy-content {
    position: relative;
}
.slidezy-track {
    display: flex;
}
.slidezy-slide {
    text-align: center;
    padding: 50px;
    flex: 0 0 auto;
}


.slidezy-pre,
.slidezy-next {
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    padding: 3px 10px;
    color: rgba(0, 0, 0, 0.8);

}
.slidezy-pre {
    left: 10px;
}
.slidezy-next {
    right: 10px
}
.dots-wrapper{
    display: flex;
    gap: 5px;
    margin: 10px;
}
.slidezy-dot {
    padding: 4px 14px;
    transform: scale(1);
    transition: transform 0.3s ease;
    border-radius: 5px;
    border: 1px solid gray;
}
.slidezy-dot.active {
    transform: scale(1.2);
    background: gray
}